.petsSearchContainer {
  padding: 20px;
}
.petsList {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.petsPagenation {
  display: flex;
  padding: 20px 0 10px 0;
  justify-content: center;
}
